.secondiv {
    background-color: linear-gradient(
      214.41deg,
      rgba(255, 118, 0, 0.6) 0%,
      rgba(47, 73, 177, 0.6) 96.92%
    );
  }
  .logsign {
    margin-left: 10%;
    margin-top: 3%;
  }
  .text {
    font-family: "Poppins";
    font-weight: 700;
    margin-top: 1%;
  }
  .text1 {
    font-family: "Poppins";
    font-weight: 400;
  }
  .googlesign {
    margin-top: -1%;
  }
  .button {
    border-radius: 40px !important;
    width: 50% !important;
    height: 10% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .text2 {
    font-family: "Poppins";
    font-weight: 600;
    margin-left: 5%;
    padding-top: 5%;
    
   
  }
  .logosign {
    width: 7%;
    height: 7%;
  }
  .line {
    display: flex;
    margin-top: 1%;
  }
  .line1 {
    width: 13%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .text3 {
      font-family: "Poppins";
      font-weight: 500;
    color: grey ;
  }
  .etext{
      font-family: "Poppins";
      font-weight: 600;
  }
  .ptext{
      font-family: "Poppins";
      font-weight: 600;
  }
  .logbutton{
      border-radius: 40px !important;
      width: 100%!important;
      height: 20% !important;
  background-color: "#FF7906" !important;
  text-align: center !important;
  margin-top: -6%;
  }    
  .text4{
      font-family: "Poppins";
      font-weight: 600;
      color: white;
      padding-top: 3%;
  }
  .text5{
      font-family: "Poppins";
      font-weight: 600;
      margin-top: 1%;
  }